@model Beicola.Models.Settings

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Settings</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Vl_Freight" class="control-label"></label>
                <input asp-for="Vl_Freight" class="form-control" />
                <span asp-validation-for="Vl_Freight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Is_open" class="control-label"></label>
                <input asp-for="Is_open" class="form-control" />
                <span asp-validation-for="Is_open" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
