@{
    ViewData["Title"] = "Admin";
}

<div class="text-center">

      <a type="button" class="btn btn-outline-dark" asp-area="Categories" asp-controller="Categories"   >Categorias</a>
      <a type="button" class="btn btn-outline-dark" asp-area="Categories" asp-controller="Cities"   >Cidades</a>
      <a type="button" class="btn btn-outline-dark" asp-area="Products" asp-controller="Products"   >Produtos</a>
      <a type="button" class="btn btn-outline-dark" asp-area="Settings" asp-controller="Settings"   >Configurações</a>
      <a type="button" class="btn btn-outline-dark" asp-area="SubCategories" asp-controller="SubCategories"   >SubCategorias</a>

</div>
